.animecard-overlay {
  display: flex;
  flex-direction: column-reverse;

  background: linear-gradient(
    360deg,
    rgba(255, 255, 255, 0.9) 0%,
    rgba(255, 255, 255, 0.7) 35%,
    rgba(255, 255, 255, 0) 50%
  );
  opacity: 0;
  transition: all 0.4s;
}

.animecard-overlay:hover {
  opacity: 1;
}

.animecardmodal-bg {
  background-color: rgb(246, 246, 246);
}

.sinopsis {
  background-color: rgb(255, 228, 228);
}

.anime-hover:hover {
  transform: scale(1.1);
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);

  -webkit-transition: all 0.2s 0.1s ease-in;
  -moz-transition: all 0.2s 0.1s ease-in;
  -o-transition: all 0.2s 0.1s ease-in;
  transition: all 0.2s 0.1s ease-in;
}
