.animecard-overlay {
  background: linear-gradient(
    335deg,
    rgba(255, 255, 255, 1) 0%,
    rgba(255, 255, 255, 0.7) 50%,
    rgba(255, 255, 255, 0) 100%
  );
  opacity: 0;
  transition: all 0.3s;
}

.animecard-overlay:hover {
  opacity: 1;
}

.animecard-titulo {
  background-color: grey;
  padding: 3px;
  line-height: 1.2;
  border-radius: 0.7rem;
  margin-bottom: 0.5rem;
}
