/* NAVBAR */
.navbar {
  position: fixed;
  align-items: center;
  justify-content: center;
  top: 0;
  width: 100%;
  transition: background-color 0.4s;
  z-index: 3;
  visibility: hidden;
}
@media (min-width: 768px) {
  .navbar {
    visibility: visible;
  }
}
.navbar-colored {
  visibility: visible;
  background-color: rgb(255, 106, 7);

  /* sombra */
  box-shadow: 0px 5px 15px -5px rgba(0, 0, 0, 0.5);
  -webkit-box-shadow: 0px 5px 15px -5px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0px 5px 15px -5px rgba(0, 0, 0, 0.5);
}
.navbar-colored .logo {
  color: black;
}

.navbar-contenido {
  display: block;
  justify-content: center;
  align-items: center;
  margin: 0 2rem;
}

@media (min-width: 768px) {
  .navbar-contenido {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    height: 4rem;
    width: 100%;
  }
}

/* LOGO */
.logo {
  color: rgb(255, 106, 7);
  font-family: "Roboto", sans-serif;
  font-size: 3.3rem;
  font-weight: 400;
  text-align: center;
  text-decoration: none;
  border: none;
  background-color: transparent;
  padding: 1rem;
}
.logo span {
  font-weight: 800;
}
.logo:hover {
  cursor: pointer;
  filter: brightness(125%);
}

/* BOTONES */
.navbar-botones {
  display: flex;
  justify-content: space-evenly;
}

.boton {
  display: inline-block;
  padding: 0.5rem 1rem;
  border-radius: 0.3rem;
  text-decoration: none;
  font-weight: 400;
  text-align: center;
  transition: border 0.2s, color 0.2s, background-color 0.2s;
  color: #ffffff;
  background-color: rgba(0, 0, 0, 0.2);
  border: 2px solid #ffffff;
  margin: 0 1rem;
}
.boton:hover {
  color: black;
  background-color: rgb(255, 106, 7);
  border: 2px solid #000000;
}
